@keyframes lds-interwind {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
    }
    50% {
      animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
    }
    0% {
      -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
      transform: rotate(0deg) translate(0, -20px) scale(0);
    }
    50% {
      -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
      transform: rotate(180deg) translate(0, -20px) scale(1);
    }
    100% {
      -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
      transform: rotate(360deg) translate(0, -20px) scale(0);
    }
  }
  @-webkit-keyframes lds-interwind {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
    }
    50% {
      animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
    }
    0% {
      -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
      transform: rotate(0deg) translate(0, -20px) scale(0);
    }
    50% {
      -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
      transform: rotate(180deg) translate(0, -20px) scale(1);
    }
    100% {
      -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
      transform: rotate(360deg) translate(0, -20px) scale(0);
    }
  }
  div.lds-interwind {
    position: relative;
  }
  div.lds-interwind div {
    position: absolute;
    top: 70px;
    left: 70px;
    -webkit-animation: lds-interwind 2s linear infinite;
    animation: lds-interwind 2s linear infinite;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1f12b4;
  }
  div.lds-interwind div:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: #35e74a;
  }
  .lds-interwind {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }