.header {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav nav nav" "logo contacts ." "logo search .";
  -ms-grid-columns: 2fr 5fr 0.2fr;
      grid-template-columns: 2fr 5fr 0.2fr;
  -ms-grid-rows: 1.8fr 3fr 2fr;
      grid-template-rows: 1.8fr 3fr 2fr;
  width: 1500px;
  grid-gap: 10px;
  background-image: url("../../assets/img/header-background.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  border-radius: 5px;
  grid-area: header;
}

.header-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #18F4B8;
  border-radius: 3px;
}

.header-nav a {
  font-size: 1.4rem;
  color: black;
}

.header-nav a:hover {
  text-decoration: underline;
  color: orange;
}

.header-logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-logo h1 {
  font-size: 22px;
}

.header-contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contacts;
  -ms-grid-column-align: end;
      justify-self: end;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.header-contacts__desc strong {
  color: #E21515;
}

.header-search {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: search;
  justify-self: end;
  width: 400px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  margin-right: 10px;
}

.header-search button {
  width: 100px;
  border-radius: 20%;
}
